.header-block {
  text-align: center;
}
.header-block__titel {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
}
@media (max-width: 630px) {
  .header-block__titel {
    font-size: 33px;
    line-height: 142%;
  }
}

.header-block__sub-titel {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #737373;
  margin-top: 10px;
}

.page {
  flex: 1 1 auto;
}

.intro {
  position: relative;
}

.intro__body {
  padding-top: 184px;
  padding-bottom: 191px;
  max-width: 400px;
  position: relative;
  z-index: 2;
}
@media (max-width: 410px) {
  .intro__body {
    padding-top: 104px;
    padding-bottom: 150px;
  }
}
.intro__body > *:not(:last-child) {
  margin-bottom: 35px;
}

.intro__titel {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
}
@media (max-width: 410px) {
  .intro__titel {
    font-size: 38px;
  }
}
.intro__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #737373;
}
.intro__btn-group {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.intro__btn {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 2;

  padding: 10px 36px;

  border-radius: 37px;
}
@media (max-width: 410px) {
  .intro__btn {
    width: 100%;
  }
}

.intro__btn--orange {
  background: #ff7b47;
  color: #fff;
}
.intro__btn--border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1300px) {
  .intro__bg img {
    object-position: right;
  }
}
@media (max-width: 992px) {
  .intro__bg img {
    opacity: 0.5;
  }
}

.page__services {
  position: relative;
  margin-top: -112px;
}

.services__body {
  display: flex;
  margin: 0 -15px;
}
@media (max-width: 880px) {
  .services__body {
    flex-direction: column;
    gap: 15px;
  }
}

.services__column {
  flex: 0 1 33.333%;
  padding: 0px 15px;
}

.item-service {
  padding: 35px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  height: 100%;
}

.item-service__icon {
  margin-bottom: 14px;
}

.item-service__titel {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  font-weight: 700;

  margin-bottom: 10px;
}

.item-service__text {
  font-size: 14px;
  line-height: 1.43;
  color: #737373;
  letter-spacing: 0.2px;
}

.item-service--main-service {
  color: #fff;
  background-color: #0d5c63;
}
.item-service--main-service > .item-service__text {
  color: #fff;
}

.page__advantages {
}
.advantages {
  padding: 80px 0;
}

.advantages__header {
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 50px;
}
.advantages__column {
  flex: 0 1 25%;
  padding: 0 15px;
}
@media (max-width: 1050px) {
  .advantages__column {
    flex: 0 1 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 540px) {
  .advantages__column {
    flex: 0 1 100%;
    margin-bottom: 15px;
  }
}

.stat-item {
  padding: 30px 33px;
  height: 100%;

  text-align: center;
  background-color: #fff;
  font-weight: 700;
}
.stat-item__icon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 48px;
}
.stat-item__number {
  margin: 10px 0;

  font-size: 40px;
  line-height: 142%;
}
.stat-item__text {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  color: #737373;
}

/* =========== */

.advices {
  padding: 80px 0;
}
@media (max-width: 620px) {
  .advices {
    padding: 0;
  }
}

.advices__header {
  margin-top: 45px;
}
@media (max-width: 620px) {
	.advices__header {
		margin-top: 0px;
	}
}


.advices__body {
  display: flex;
  flex-wrap: wrap;
  margin: -17px;
  margin-top: 45px;
}
@media (max-width: 620px) {
	.advices__body {
		margin-top: 15px;
	}
}

.advices__column {
  flex: 0 1 25%;
  padding: 17px;
}
@media (max-width: 1050px) {
  .advices__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 620px) {
  .advices__column {
    flex: 0 1 100%;
  }
}
.advices__item {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: #fff;
}
.advices__content {
  padding: 30px;
  flex: 1 1 auto;
}

.advices__titel {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.advices__text {
  margin-top: 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #737373;
}

.advices__image {
  padding-bottom: 60%;
}
